<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/auth/login">login</a>
    <h1><a href="/">MAIN</a></h1>
</div>

<%- include('../includes/topic-list.ejs') %>

<a href="/topic/create">create</a>

<h2><%= title %></h2>
<p><%= description %></p>
<image src="/images/coding.jpg" style="width:300px; display:block;"/>

</body>
</html>