<div>
    <% if (locals.user) { %>
        <form action="/auth/logout_process" method="post">
            <button>logout</button> | <%= user.name %>님
        </form>
    <% } else { %>
        <a href="/auth/login">login</a>
    <% } %>
    <h1><a href="/">MAIN</a></h1>
</div>